.logo-section {
    display: flex;
    justify-content: center;
    padding: 140px 120px 100px; // Верхний и нижний отступы, а также отступы по бокам
  }
  
  .logo-frame {
    width: 1200px;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .logo1 {
    max-width: 132px; // Устанавливаем максимальную ширину каждого логотипа
    max-height: 43px; // Устанавливаем максимальную высоту каждого логотипа
    margin: 0 62.5px;
  }

  .logo2 {
    max-width: 103px; // Устанавливаем максимальную ширину каждого логотипа
    max-height: 103px; // Устанавливаем максимальную высоту каждого логотипа
    margin: 0 62.5px;
  }

  .logo3 {
    max-width: 164px; // Устанавливаем максимальную ширину каждого логотипа
    max-height: 43px; // Устанавливаем максимальную высоту каждого логотипа
    margin: 0 62.5px;
  }

  .logo4 {
    max-width: 145px; // Устанавливаем максимальную ширину каждого логотипа
    max-height: 45px; // Устанавливаем максимальную высоту каждого логотипа
    margin: 0 62.5px;
  }

  .logo5 {
    max-width: 117px; // Устанавливаем максимальную ширину каждого логотипа
    max-height: 48px; // Устанавливаем максимальную высоту каждого логотипа
    margin: 0 62.5px;
  }