// Fonts

$font-main: "Jost", serif;
$font-add: "DM Serif Display", serif;

// Colors
$color-text: #292F36;
$color-accent: #CDA274;
$color-textAdd: #4D5053;
$color-bg: #F4F0EC;
$color-button-bg: #292F36;
$color-bgmain: white;

// Media

$table: 999px;


